// variables
$black: rgb(0, 0, 0);

// stripping default styles
h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

// wrapper styles
.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

// fonts
html {
    font-size: 125%;
}
body,
input[type=submit],
select,
input[type=text] {
    font-family: 'Lato', sans-serif;
}
h1,
h2 {
    font-family: 'Playfair Display', serif;
}
h1,
h2,
input[type=submit] {
    text-transform: uppercase;
}
.scratchItemOff {
    text-decoration: line-through;
    color: rgb(93, 115, 126);
}

// buttons' backgrounds
input[type=submit],
.removeItem {
    background-color: rgb(252, 240, 204);
}

// borders + hover & focus states
input[type=text],
select,
input[type=submit],
.removeItem,
.checkboxButton {
    border: 2px solid rgba(255, 255, 255, 0);
}
.checkboxButton {
    background: none;
}
input[type=submit]:focus,
.removeItem:focus,
.checkboxButton:focus {
    outline: none;
}
input[type=text]:hover,
select:hover,
.removeItem:hover,
input[type=submit]:hover,
.checkboxButton:hover,
input[type=text]:focus,
select:focus,
.removeItem:focus,
input[type=submit]:focus,
.checkboxButton:focus,
table, th, td {
    border: 2px solid $black;
}
select:hover,
input[type=submit]:hover,
button:hover {
    cursor: pointer;
}