// stripping default styles
h1,
h2,
ul,
p {
    margin: 0;
    padding: 0;
}

// general styles
html {
    font-size: 125%;
}
.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

// styling specific elements
body,
input[type=submit],
select,
input[type=text] {
    font-family: 'Lato', sans-serif;
}
h1,
h2 {
    font-family: 'Playfair Display', serif;
}
h1,
h2,
input[type=submit] {
    text-transform: uppercase;
}
input[type=submit],
.removeItem,
.addSubtask {
    background-color: rgb(252, 240, 204);
}
input[type=submit],
.removeItem,
.addSubtask,
.checkboxButton {
    border: none;
}
select:hover,
input[type=submit]:hover,
button:hover {
    cursor: pointer;
}

table, th, td {
    border: 2px solid rgb(0, 0, 0);
}
.checkboxButton {
    background: none;
}
.scratchItemOff {
    text-decoration: line-through;
    color: rgb(93, 115, 126);
}