@media (max-width: 800px) {
    header {
        form {
            input[type=text] {
                width: 80%;
            }
        }
    }
}
@media (max-width: 500px) {
    main {
        table {
            tr {
                display: flex;
                flex-wrap: wrap;
                .tableWeekday {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
    }
    .weekdayItem {
        width: 100%;
        margin: 5px 0;
        min-height: 45px;
    }
}
// @media (max-width: 800px) {
//     input[type=text] {
//         width: 80%;
//     }
// }
// @media (max-width: 500px) {
//     tr {
//         display: flex;
//         flex-wrap: wrap;
//     }
//     .weekdayItem {
//         width: 100%;
//         margin: 5px 0;
//         min-height: 41.6px;
//     }
//     .tableWeekday {
//         width: 50%;
//         margin: 0 auto;
//         text-align: center;
//         height: 80%;
//     }
// }